<div>
    <h2 id="page-heading">
        <span jhiTranslate="blogApp.entry.home.title">Entries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entry" [routerLink]="['/entry/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="blogApp.entry.home.createLabel">
            Create a new Entry
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="entries?.length === 0">
        <span jhiTranslate="blogApp.entry.home.notFound">No entries found</span>
    </div>



    <div class="table-responsive" *ngIf="entries?.length > 0">
        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <div *ngFor="let entry of entries; trackBy: trackId">
                <a [routerLink]="['/entry', entry.id, 'view' ]">
                    <h2>{{entry.title}}</h2>
                </a>
                <small>Posted on {{entry.date | date: 'short'}} by {{entry.blog.user.firstName}}</small>
                <div [innerHTML]="entry.content"></div>
                <div class="btn-group mb-2 mt-1">
                    <button type="submit"
                            [routerLink]="['/entry', entry.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', 'entry', { outlets: { popup: entry.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
